/*This is for general*/
*{
    padding:0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
}
img {
    max-width: 100%;
  }

/*This is for the logo*/
.topLogo img{
    width: 150px;
    height:150px;
    margin:auto;
    margin-bottom: 40px;
    position:relative;
    top:20px;
}
.glow {
    border-radius: 100px;
    animation: glow 3s infinite alternate;
  }
  
  @keyframes glow {
    from {
      box-shadow: 0 0 10px -10px white;
    }
    to {
      box-shadow: 0 0 10px 10px #cc13ec;
    }
  }
/*Logo ends here*/
/*This is the navigation*/
.navbar-custom {
    background-color: #cc13ec;
}
.navbar-custom a {
    color: #fff;
}
/*This is the header design*/
.masthead {
    height: 65vh;
    min-height: 500px;
    background-image: url('../img/bg2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:#fff;
  }
.mag{
    margin-top: 12%;
}

.line{
    border-bottom: 1px solid #fff;
    width:20%;
    margin:auto;
}

/*Our services*/
.ourService{
    margin:50px auto;
}
.what-we-do{
    padding-bottom: 50px;
}
.card::after {
    display: block;
    position: absolute;
    bottom: -10px;
    left: 20px;
    width: calc(100% - 40px);
    height: 35px;
    background-color: #fff;
    -webkit-box-shadow: 0 19px 28px 5px rgba(64,64,64,0.09);
    box-shadow: 0 19px 28px 5px rgba(64,64,64,0.09);
    content: '';
    z-index: -1;
}
a.card {
    text-decoration: none;
}

.card {
    position: relative;
    border: 0;
    border-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 12px 20px 1px rgba(64,64,64,0.09);
    box-shadow: 0 12px 20px 1px rgba(64,64,64,0.09);
}
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: .25rem;
}

.box-shadow {
    -webkit-box-shadow: 0 12px 20px 1px rgba(64,64,64,0.09) !important;
    box-shadow: 0 12px 20px 1px rgba(64,64,64,0.09) !important;
}

.ml-auto, .mx-auto {
    margin-left: auto !important;
}
.mr-auto, .mx-auto {
    margin-right: auto !important;
}
.rounded-circle {
    border-radius: 50% !important;
}
.bg-white {
    background-color: #fff !important;
}

.ml-auto, .mx-auto {
    margin-left: auto !important;
}

.mr-auto, .mx-auto {
    margin-right: auto !important;
}
.d-block {
    display: block !important;
}
img, figure {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.card-text {
    padding-top: 12px;
    color: #8c8c8c;
}

.text-sm {
    font-size: 12px !important;
}
p, .p {
    margin: 0 0 16px;
}

.card-title {
    margin: 0;
    font-family: "Montserrat",sans-serif;
    font-size: 18px;
    font-weight: 900;
}

.pt-1, .py-1 {
    padding-top: .25rem !important;
}

.head-icon{
    margin-top:18px;
    color:#cc13ec;
}


/*Testimonial*/
/* carousel */

.testimonial{
    margin:50px auto;
}
#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
    text-align:center;
  }
  /* indicator position */
  #quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: -10px;
    margin-right: -19px;
    color:#cc13ec;
  }
  /* indicator color */
  #quote-carousel .carousel-indicators li {
    background: #333333;
    height:4px;
    width:50px;
  }
  /* active indicator */
  #quote-carousel .carousel-indicators .active {
    background: #60dfe5;
    height:4x;
    width:50px;
    margin-bottom:1px;
  }
  /* typography */
  h1 {
    text-align:center;
    margin-bottom:-20px !important;
  }
  p {
    font-style:italic;
  }
  /*ends here*/
/*Footer map*/
.google-maps {
    margin: 50px auto;
    overflow: hidden;
    width:100%;
  }
  .google-maps iframe {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }

.info{
    width:100%;
    height:auto;
    background:#000;
    opacity:.8;
    color:#fff;
    text-align: center;
    padding:10px 0px;
}
.socialMedia{
    padding:0px 20px;
    display:inline;
     
}

/*Form and bookings*/
.container {    
    margin: 50px auto;
}
.input-group{
    margin: 10px auto; 
}
.shade{
    background-color:#cc13ec;
}
.border-md {
    border-width: 2px;
}

.btn-facebook {
    background: #405D9D;
    border: none;
}

.btn-facebook:hover, .btn-facebook:focus {
    background: #314879;
}

.btn-twitter {
    background: #42AEEC;
    border: none;
}

.btn-twitter:hover, .btn-twitter:focus {
    background: #1799e4;
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
     .feedback-slider-item:after {
        left: 30px;
        right: 30px;
      }
      .customer-feedback .owl-nav [class*="owl-"] {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-top: 45px;
        bottom: auto;
      }
      .customer-feedback .owl-prev {
        left: 0;
      }
      .customer-feedback .owl-next {
        right: 0;
      }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}