*{
    padding:0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.glow {
    border-radius: 100px;
    animation: glow 1s infinite alternate;
  }
  
  @keyframes glow {
    from {
      box-shadow: 0 0 10px -10px white;
    }
    to {
      box-shadow: 0 0 10px 10px #cc13ec;
    }
  }

.navbar-custom {
    background-color: #cc13ec;
}
  

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}